{{#items}}
  {{#isArray}}
    data{{^required}}?{{/required}}.map((data) { ((data) { return {{>_copy}};})(data); }).toList()
  {{/isArray}}
  {{#isMap}}
    data{{^required}}?{{/required}}.map((data) { ((data) { return {{>_copy}};})(data); }).toList()
  {{/isMap}}
  {{^items}}
    {{^isModel}}
      data{{^required}}?{{/required}}.toList()
    {{/isModel}}
    {{#isModel}}
      data{{^required}}?{{/required}}.map((data) => data{{^required}}?{{/required}}.copyWith()).toList()
    {{/isModel}}
  {{/items}}
{{/items}}
