{{#items}}
  {{#isArray}}
    (data as List<dynamic>){{#nullSafe}}.fromNull(){{/nullSafe}}.map((data) { return ((dynamic data) { return {{>_from_json}};})(data); }).toList()
  {{/isArray}}
  {{#isMap}}
    (data as List<dynamic>){{#nullSafe}}.fromNull(){{/nullSafe}}.map((data) { ((dynamic data) { return {{>_from_json}};})(data); }).toList()
  {{/isMap}}
  {{^items}}
    {{#isEnum}}
      {{enumName}}Extension.listFromJson(data)
    {{/isEnum}}
    {{#isDateTime}}
      openApiDateTimeList(data)
    {{/isDateTime}}
    {{#isDate}}
      openApiDateTimeList(data)
    {{/isDate}}
    {{#isModel}}
      {{complexType}}.listFromJson(data)
    {{/isModel}}
    {{#isPrimitiveType}}
      {{^nullSafe}}
          (data as List<dynamic>)?.cast<{{{dataType}}}>()
      {{/nullSafe}}
      {{#nullSafe}}
          (data as List<dynamic>?)?.cast<{{{dataType}}}>() ?? <{{{dataType}}}>[]
      {{/nullSafe}}
    {{/isPrimitiveType}}
  {{/items}}
{{/items}}
