{{#items}}
  {{#isArray}}
    (data as List<dynamic>).fromNull().map((data) { return ((dynamic data) { return {{>_from_json}};})(data); }).toList()
  {{/isArray}}
  {{#isMap}}
    (data as List<dynamic>).fromNull().map((data) { ((dynamic data) { return {{>_from_json}};})(data); }).toList()
  {{/isMap}}
  {{^items}}
    {{#isEnum}}
      {{enumName}}Extension.listFromJson(data)
    {{/isEnum}}
    {{#isDateTime}}
      openApiDateTimeList(data)
    {{/isDateTime}}
    {{#isDate}}
      openApiDateTimeList(data)
    {{/isDate}}
    {{#isModel}}
      {{complexType}}.listFromJson(data)
    {{/isModel}}
    {{#isPrimitiveType}}
      {{#isNumeric}}
          (data as List<dynamic>{{#x-dart-nullable}}?{{/x-dart-nullable}}){{#x-dart-nullable}}?{{/x-dart-nullable}}.map((n) => (n as num).
        {{#isInteger}}toInt(){{/isInteger}}
        {{^isInteger}}toDouble(){{/isInteger}}
          ).toList()
      {{/isNumeric}}
      {{^isNumeric}}
          (data as List<dynamic>{{#x-dart-nullable}}?{{/x-dart-nullable}}){{#x-dart-nullable}}?{{/x-dart-nullable}}.cast<{{{dataType}}}>(){{#x-dart-nullable}} ?? <{{{dataType}}}>[]{{/x-dart-nullable}}
      {{/isNumeric}}
    {{/isPrimitiveType}}
    {{#isAnyType}}data{{/isAnyType}}
  {{/items}}
{{/items}}
