{{#items}}
  {{#isArray}}
    (data as List){{^required}}?{{/required}}.map((data) { ((data) { return {{>_copy}};})(data); }).toList()
  {{/isArray}}
  {{#isMap}}
      (data as List){{^required}}?{{/required}}.map((data) { ((data) { return {{>_copy}};})(data); }).toList()
  {{/isMap}}
  {{^items}}
    {{#isEnum}}
      (data as List<{{enumName}}>{{^required}}{{#nullSafe}}?{{/nullSafe}}{{/required}}){{^required}}?{{/required}}.toList()
    {{/isEnum}}
    {{#isDateTime}}
      (data as List<DateTime>{{^required}}{{#nullSafe}}?{{/nullSafe}}{{/required}}){{^required}}?{{/required}}.toList()
    {{/isDateTime}}
    {{#isDate}}
      (data as List<DateTime>{{^required}}{{#nullSafe}}?{{/nullSafe}}{{/required}}){{^required}}?{{/required}}.toList()
    {{/isDate}}
    {{#isModel}}
     (data as List<{{complexType}}>{{^required}}{{#nullSafe}}?{{/nullSafe}}{{/required}}){{^required}}?{{/required}}.map((data) => data.copyWith()).toList()
    {{/isModel}}
    {{#isPrimitiveType}}
      (data as List<{{{dataType}}}>{{^required}}{{#nullSafe}}?{{/nullSafe}}{{/required}}){{^required}}?{{/required}}.toList()
    {{/isPrimitiveType}}
  {{/items}}
{{/items}}
