    final json = {{#parent}}super.toJson();{{/parent}}{{^parent}}<String, dynamic>{};{{/parent}}
    {{#vars}}
      {{^vendorExtensions.x-var-is-binary}}
      {{^vendorExtensions.x-dart-inherited}}
        {{#x-dont-tojson-null}}
  } != null) {
        {{/x-dont-tojson-null}}
      {{#isArray}}
        {{#vendorExtensions.x-ns-default-val}}
          if ({{{name}}}{{#vendorExtensions.x-dart-nullable}}{{#nullSafe}}?{{/nullSafe}}{{/vendorExtensions.x-dart-nullable}}.isNotEmpty{{#vendorExtensions.x-dart-nullable}}{{#nullSafe}} == true{{/nullSafe}}{{/vendorExtensions.x-dart-nullable}}) {
        {{/vendorExtensions.x-ns-default-val}}

        json[r'{{baseName}}'] = {{{name}}}{{^nullSafe}}?{{/nullSafe}}{{#vendorExtensions.x-dart-nullable}}{{#nullSafe}}?{{/nullSafe}}{{/vendorExtensions.x-dart-nullable}}.map((v) => LocalApiClient.serialize(v)){{^nullSafe}}?{{/nullSafe}}.toList();
        {{#vendorExtensions.x-ns-default-val}}
          }{{> __class_to_json_required_null }}
        {{/vendorExtensions.x-ns-default-val}}

      {{/isArray}}
      {{#isMap}}
        {{#vendorExtensions.x-dart-nullable}}if ({{{name}}}{{#nullSafe}}?{{/nullSafe}}.isNotEmpty{{#nullSafe}} == true{{/nullSafe}}) { {{/vendorExtensions.x-dart-nullable}}
        json[r'{{baseName}}'] = Map.fromIterables({{{name}}}{{#vendorExtensions.x-dart-nullable}}{{#nullSafe}}!{{/nullSafe}}{{/vendorExtensions.x-dart-nullable}}.keys,
          {{{name}}}{{#vendorExtensions.x-dart-nullable}}{{#nullSafe}}!{{/nullSafe}}{{/vendorExtensions.x-dart-nullable}}.values.map((v) => LocalApiClient.serialize(v)));
        {{#vendorExtensions.x-dart-nullable}}
          }{{> __class_to_json_required_null }}
        {{/vendorExtensions.x-dart-nullable}}
      {{/isMap}}
      {{^items}}
        {{#x-dont-tojson-null}}
        if ({{{name}}} != null) {
        {{/x-dont-tojson-null}}
        {{#isDateTime}}
          json[r'{{baseName}}'] = {{{name}}}{{^nullSafe}}?{{/nullSafe}}{{#vendorExtensions.x-dart-nullable}}{{#nullSafe}}?{{/nullSafe}}{{/vendorExtensions.x-dart-nullable}}.toUtc(){{^nullSafe}}?{{/nullSafe}}.toIso8601String();
        {{/isDateTime}}
        {{#isDate}}
          json[r'{{baseName}}'] = {{{name}}}{{^nullSafe}}?{{/nullSafe}}{{#vendorExtensions.x-dart-nullable}}{{#nullSafe}}?{{/nullSafe}}{{/vendorExtensions.x-dart-nullable}}.toDateString();
        {{/isDate}}
        {{#isEnum}}
          json[r'{{baseName}}'] = {{{name}}}{{^nullSafe}}?{{/nullSafe}}{{#vendorExtensions.x-dart-nullable}}{{#nullSafe}}?{{/nullSafe}}{{/vendorExtensions.x-dart-nullable}}.toJson();
        {{/isEnum}}
        {{#isModel}}
          json[r'{{baseName}}'] = {{{name}}}{{^nullSafe}}?{{/nullSafe}}{{#vendorExtensions.x-dart-nullable}}{{#nullSafe}}?{{/nullSafe}}{{/vendorExtensions.x-dart-nullable}}.toJson();
        {{/isModel}}
        {{#isPrimitiveType}}
          json[r'{{baseName}}'] = {{{name}}};
        {{/isPrimitiveType}}
        {{#isAnyType}}
          json[r'{{baseName}}'] = {{{name}}};
        {{/isAnyType}}
        {{#x-dont-tojson-null}}
          }{{> __class_to_json_required_null }}
        {{/x-dont-tojson-null}}

      {{/items}}
    {{#x-dont-tojson-null}} } {{#generateNullValuesToJson}} else {
    json[r'{{baseName}}'] = null;
    }{{/generateNullValuesToJson}}{{/x-dont-tojson-null}}
      {{/vendorExtensions.x-dart-inherited}}
      {{/vendorExtensions.x-var-is-binary}}
    {{/vars}}
    return json;
