    final json = {{#parent}}super.toJson();{{/parent}}{{^parent}}<String, dynamic>{};{{/parent}}
    {{#vars}}
      {{^vendorExtensions.x-var-is-binary}}
      {{^isInherited}}
        {{#isNullable}}
          {{^required}}{{! don't send it if it isn't required and its null}}
            if ({{{name}}} != null) {
          {{/required}}
          {{#required}}
            if ({{{name}}} == null) {
              json[r'{{baseName}}'] = null;
            } else {
          {{/required}}
        {{/isNullable}}
        {{#isArray}}
          json[r'{{baseName}}'] = ((v) => {{> _to_json_serialise }} )({{{name}}});
        {{/isArray}}
        {{#isMap}}
          json[r'{{baseName}}'] = ((v) => {{> _to_json_serialise }} )({{{name}}});
        {{/isMap}}
        {{^items}}
          json[r'{{baseName}}'] =
          {{#isModel}}
            {{{name}}}{{#isNullable}}?{{/isNullable}}.toJson()
          {{/isModel}}
          {{#isPrimitiveType}}
            {{{name}}}
          {{/isPrimitiveType}}
          {{#isEnum}}
            {{{name}}}{{#isNullable}}?{{/isNullable}}.toJson()
          {{/isEnum}}
          {{#isDate}}
            {{{name}}}{{#isNullable}}?{{/isNullable}}.toUtc()
            .toIso8601String()
            .substring(0, 10)
          {{/isDate}}
          {{#isDateTime}}
            {{{name}}}{{#isNullable}}?{{/isNullable}}.toUtc()
            .toIso8601String()
          {{/isDateTime}}
          {{#isAnyType}}{{{name}}}{{/isAnyType}}
          ;
        {{/items}}
        {{#isNullable}}
            }
        {{/isNullable}}
      {{/isInherited}}
      {{/vendorExtensions.x-var-is-binary}}
    {{/vars}}
    return json;
