((this.{{{name}}} == null) ? {{#defaultValue}}{{{defaultValue}}}{{#nullSafe}} as {{{dataType}}}{{/nullSafe}}{{^nullSafe}}{{^isAnyType}} as {{{dataType}}}{{/isAnyType}}{{/nullSafe}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}} : (({{{dataType}}} data) { return {{>_copy}}; }(this.{{{name}}})));
