{{#isArray}}
  {{>_array_copy}}
{{/isArray}}
{{#isMap}}
  {{>_map_copy}}
{{/isMap}}
{{^items}}
  {{#isEnum}}data{{/isEnum}}
  {{#isDateTime}}{{>_copy_date}}{{/isDateTime}}
  {{#isDate}}{{>_copy_date}}{{/isDate}}
  {{#isModel}}
    {{#vendorExtensions.x-not-nullable}}data.copyWith(){{/vendorExtensions.x-not-nullable}}
    {{^vendorExtensions.x-not-nullable}}data == null ? null : data.copyWith(){{/vendorExtensions.x-not-nullable}}
  {{/isModel}}
  {{#isPrimitiveType}}data{{/isPrimitiveType}}
{{/items}}
