{{^vendorExtensions.x-dart-nullable}}data.add(Duration()){{/vendorExtensions.x-dart-nullable}}
{{#vendorExtensions.x-dart-nullable}}data == null ? null : data.add(Duration()){{/vendorExtensions.x-dart-nullable}}
