{{#isArray}}
  {{>_array_copy}}
{{/isArray}}
{{#isMap}}
  {{>_map_copy}}
{{/isMap}}
{{^items}}
  {{#isEnum}}data{{/isEnum}}
  {{#isDateTime}}
{{#required}}data.add(Duration()){{/required}}
{{^required}}data == null ? null : data.add(Duration()){{/required}}
  {{/isDateTime}}
  {{#isDate}}
{{#required}}data.add(Duration()){{/required}}
{{^required}}data == null ? null : data.add(Duration()){{/required}}
  {{/isDate}}
  {{#isModel}}
{{#required}}data.copyWith(){{/required}}
{{^required}}data == null ? null : data.copyWith(){{/required}}
  {{/isModel}}
  {{#isPrimitiveType}}
data
  {{/isPrimitiveType}}
{{/items}}
