{{#isArray}}
  {{>_array_from_json}}
{{/isArray}}
{{#isMap}}
  {{>_map_from_json}}
{{/isMap}}
{{^items}}
  {{#isEnum}}
    {{enumName}}Extension.fromJson(data)
  {{/isEnum}}
  {{#isDateTime}}
    data == null ? data : DateTime.parse(data)
  {{/isDateTime}}
  {{#isDate}}
    data == null ? DateTime.parse(data + 'T00:00:00.000Z')
  {{/isDate}}
  {{#isModel}}
    data == null ? {{#defaultValue}}{{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}} : {{{complexType}}}.fromJson(data)
  {{/isModel}}
  {{#isPrimitiveType}}
    data as {{{dataType}}}
  {{/isPrimitiveType}}
{{/items}}
