{{#isArray}}
  {{>_array_from_json}}
{{/isArray}}
{{#isMap}}
  {{>_map_from_json}}
{{/isMap}}
{{^items}}
  {{#isEnum}}
    {{enumName}}Extension.fromJson(data)
  {{/isEnum}}
  {{#isDateTime}}
    {{^vendorExtensions.x-dart-nullable}}{{#nullSafe}}
      DateTime.parse(data!)
    {{/nullSafe}}
    {{^nullSafe}}
      data == null ? null : DateTime.parse(data)
    {{/nullSafe}}
    {{/vendorExtensions.x-dart-nullable}}
    {{#vendorExtensions.x-dart-nullable}}
      data == null ? null : DateTime.parse(data)
    {{/vendorExtensions.x-dart-nullable}}
  {{/isDateTime}}
  {{#isDate}}
    {{^vendorExtensions.x-dart-nullable}}{{#nullSafe}}
      DateTime.parse(data! + 'T00:00:00.000Z')
    {{/nullSafe}}
    {{^nullSafe}}
      data == null ? null : DateTime.parse(data + 'T00:00:00.000Z')
    {{/nullSafe}}
    {{/vendorExtensions.x-dart-nullable}}
    {{#vendorExtensions.x-dart-nullable}}
      data == null ? null : DateTime.parse(data + 'T00:00:00.000Z')
    {{/vendorExtensions.x-dart-nullable}}
  {{/isDate}}
  {{#isModel}}
    {{^vendorExtensions.x-dart-nullable}}{{#nullSafe}}
      {{{complexType}}}.fromJson(data)
    {{/nullSafe}}
    {{^nullSafe}}
      data == null ? {{#defaultValue}}{{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}} : {{{complexType}}}.fromJson(data)
    {{/nullSafe}}
    {{/vendorExtensions.x-dart-nullable}}
    {{#vendorExtensions.x-dart-nullable}}
      data == null ? {{#defaultValue}}{{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}} : {{{complexType}}}.fromJson(data)
    {{/vendorExtensions.x-dart-nullable}}
  {{/isModel}}
  {{#isPrimitiveType}}
    data as {{{dataType}}}
  {{/isPrimitiveType}}
  {{#isAnyType}}data{{/isAnyType}}
{{/items}}
