{{#isArray}}
  {{>_array_from_json}}
{{/isArray}}
{{#isMap}}
  {{>_map_from_json}}
{{/isMap}}
{{^items}}
  {{#isEnum}}
    {{enumName}}Extension.fromJson(data)
  {{/isEnum}}
  {{#isDateTime}}
    {{^isNullable}}
      DateTime.parse(data!)
    {{/isNullable}}
    {{#isNullable}}
      data == null ? null : DateTime.parse(data)
    {{/isNullable}}
  {{/isDateTime}}
  {{#isDate}}
    {{^isNullable}}
      DateTime.parse(data! + 'T00:00:00.000Z')
    {{/isNullable}}
    {{#isNullable}}
      data == null ? null : DateTime.parse(data + 'T00:00:00.000Z')
    {{/isNullable}}
  {{/isDate}}
  {{#isModel}}
    {{^isNullable}}
      {{{complexType}}}.fromJson(data)
    {{/isNullable}}
    {{#isNullable}}
      data == null ? {{#defaultValue}}{{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}} : {{{complexType}}}.fromJson(data)
    {{/isNullable}}
  {{/isModel}}
  {{#isPrimitiveType}}
    {{#isInteger}}data.toInt(){{/isInteger}}
    {{^isInteger}}
      {{#isNumeric}}data.toDouble(){{/isNumeric}}
      {{^isNumeric}}data as {{{dataType}}}{{/isNumeric}}
    {{/isInteger}}
  {{/isPrimitiveType}}
  {{#isAnyType}}data{{/isAnyType}}
{{/items}}
