data{{#isNullable}}?{{/isNullable}}.map((String key,
{{#items}}
  {{#isMap}}
    {{{vendorExtensions.x-innerType}}} data) => MapEntry<String, {{{vendorExtensions.x-innerType}}}>(key, (dynamic data) { return {{>_copy}}; }(data) ))
  {{/isMap}}
  {{#isArray}}
    {{{vendorExtensions.x-innerType}}} data) => MapEntry<String, {{{vendorExtensions.x-innerType}}}>(key, ({{{vendorExtensions.x-innerType}}} data) { return {{>_copy}}; }(data) ))
  {{/isArray}}
  {{^items}}
    {{{vendorExtensions.x-innerType}}} data) => MapEntry<String, {{{vendorExtensions.x-innerType}}}>(key, {{>_copy}} ))
  {{/items}}
{{/items}}
