{{#items}}
  {{#isMap}}
    (data as Map).cast<String, dynamic>().map((String key, dynamic data) => MapEntry<String, {{{dataType}}}>(key, (dynamic data) { return {{>_from_json}}; }(data) ))
  {{/isMap}}
  {{#isArray}}
    (data as Map).cast<String, dynamic>().map((String key, dynamic data) => MapEntry<String, {{{dataType}}}>(key, (dynamic data) { return {{>_from_json}}; }(data) ))
  {{/isArray}}
  {{^items}}
    {{#isEnum}}
      (data as Map).cast<String, dynamic>().map((String key, dynamic data) => MapEntry<String, {{{enumName}}}>(key, {{>_from_json}} ))
    {{/isEnum}}
    {{#isDateTime}}
      (data as Map).cast<String, dynamic>().map((String key, dynamic data) => MapEntry<String, {{{complexType}}}>(key, {{>_from_json}} ))
    {{/isDateTime}}
    {{#isDate}}
      (data as Map).cast<String, dynamic>().map((String key, dynamic data) => MapEntry<String, {{{complexType}}}>(key, {{>_from_json}} ))
    {{/isDate}}
    {{#isModel}}
      (data as Map).cast<String, dynamic>().map((String key, dynamic data) => MapEntry<String, {{{complexType}}}>(key, {{>_from_json}} ))
    {{/isModel}}
    {{#isPrimitiveType}}
      (data as Map).cast<String, {{{dataType}}}>()
    {{/isPrimitiveType}}
  {{/items}}
{{/items}}
