{{#isEnum}}
  {{{name}}}
{{/isEnum}}
{{#isDateTime}}
 {{{name}}}
{{/isDateTime}}
{{#isDate}}
 {{{name}}}
{{/isDate}}
{{#isModel}}
  {{{name}}}?.copyWith()
{{/isModel}}
{{#isPrimitiveType}}
  {{{name}}}
{{/isPrimitiveType}}
