{{#isEnum}}{{^isNullable}}
final _enumVal = {{enumName}}Extension.fromJson(_jsonData);
if (_enumVal == null) throw DeserialisationError(json, r'{{{baseName}}}', r'{{{className}}}', '{{enumName}} has no valid translation from $_enumVal');{{/isNullable}}
{{/isEnum}}
return {{#isEnum}}
  {{^isNullable}}_enumVal;{{/isNullable}}
  {{#isNullable}}{{enumName}}Extension.fromJson(_jsonData);{{/isNullable}}
{{/isEnum}}
{{#isDateTime}}DateTime.parse(_jsonData);{{/isDateTime}}
{{#isDate}}DateTime.parse(_jsonData + 'T00:00:00.000Z');{{/isDate}}
{{#isModel}}{{{complexType}}}.fromJson(_jsonData);{{/isModel}}
{{#isPrimitiveType}}(_jsonData as {{{dataType}}});{{/isPrimitiveType}}
