{{{name}}} = {{#isAnyType}}{{#isModel}}(json[r'{{{name}}}'] == null) ? null : {{{complexType}}}.fromJson(json[r'{{{name}}}']);{{/isModel}}{{^isModel}}json[r'{{{baseName}}}'];{{/isModel}}{{/isAnyType}}{{^isAnyType}} (json[r'{{{baseName}}}'] == null) ? null : {{#isEnum}}{{enumName}}Extension.fromJson(json[r'{{{baseName}}}']);{{/isEnum}}{{#isDateTime}}DateTime.parse(json[r'{{{baseName}}}']);{{/isDateTime}}{{#isDate}}DateTime.parse(json[r'{{{baseName}}}'] + 'T00:00:00.000Z');{{/isDate}}{{#isModel}}{{{complexType}}}.fromJson(json[r'{{{baseName}}}']);{{/isModel}}{{#isPrimitiveType}}(json[r'{{{baseName}}}'] as {{{dataType}}});{{/isPrimitiveType}}{{/isAnyType}}
