{{#isArray}}
  v{{#isNullable}}?{{/isNullable}}.map((v) => {{#items}}{{> _to_json_serialise  }} {{/items}} ){{#isNullable}}?{{/isNullable}}.toList()
{{/isArray}}
{{#isMap}}
  Map.fromIterables({{{name}}}{{#isNullable}}!{{/isNullable}}.keys,
  {{{name}}}{{#isNullable}}!{{/isNullable}}.values.map((v) => {{#items}} {{>  _to_json_serialise  }} {{/items}} ))
{{/isMap}}
{{^items}}
{{#isModel}}
  v.toJson()
{{/isModel}}
{{#isPrimitiveType}}
  v
{{/isPrimitiveType}}
{{#isEnum}}
  (v as {{{dataType}}}){{#isNullable}}?{{/isNullable}}.toJson()
{{/isEnum}}
{{#isDate}}
  v{{#isNullable}}?{{/isNullable}}.toUtc()
  {{#isNullable}}?{{/isNullable}}.toIso8601String()
  {{#isNullable}}?{{/isNullable}}.substring(0, 10)
{{/isDate}}
{{#isDateTime}}
  v{{#isNullable}}?{{/isNullable}}.toUtc()
  {{#isNullable}}?{{/isNullable}}.toIso8601String()
{{/isDateTime}}
{{#isAnyType}}v{{/isAnyType}}
{{^isModel}}
  {{^isPrimitiveType}}
    {{^isEnum}}
      {{^isDateTime}}
        {{^isDate}}
          {{^isAnyType}}
          --please report--register a YAML snippet that reproduces this error
          {{/isAnyType}}
        {{/isDate}}
      {{/isDateTime}}
    {{/isEnum}}
  {{/isPrimitiveType}}
{{/isModel}}
{{/items}}
