library {{pubName}}.api;

{{#pubDescription}}
/// {{{.}}}
{{/pubDescription}}

import 'dart:async';
import 'dart:convert';
import 'package:dio/dio.dart';
import 'package:openapi_dart_common/openapi.dart';
import 'package:collection/collection.dart';

{{#x-dart-imports}}
import '{{{.}}}';
{{/x-dart-imports}}

part 'api_client.dart';

{{#apiInfo}}{{#apis}}part 'api/{{classFilename}}.dart';
{{/apis}}{{/apiInfo}}
{{#models}}{{#model}}{{^isInlineObject}}part 'model/{{classFilename}}.dart';{{/isInlineObject}}
{{/model}}{{/models}}

{{#x-dart-parts}}
part '{{{.}}}';
{{/x-dart-parts}}

{{#x-dart-anyparts}}
part '{{{.}}}';
{{/x-dart-anyparts}}
