// {{{name}}}
class {{classname}}{{#parent}} extends {{parent}}{{/parent}} {
{{#vars}}
  {{^vendorExtensions.x-dart-inherited}}
    {{#description}}/* {{{description}}} */{{/description}}
    {{^allowableValues}}
      {{#required}}{{#nullSafe}}late {{/nullSafe}}{{/required}}{{{dataType}}} {{{name}}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}};
    {{/allowableValues}}
    {{#allowableValues}}
      {{#isEnum}}
        {{#required}}{{#nullSafe}}late {{/nullSafe}}{{/required}}{{{dataType}}} {{{name}}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}};
      {{/isEnum}}
      {{^isEnum}}
        {{^complexType}}
          {{#min}} // range from {{min}} to {{max}}
          {{#required}}{{#nullSafe}}late {{/nullSafe}}{{/required}}{{{dataType}}} {{{name}}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}};
          {{/min}}
          {{classname}}{{nameInCamelCase}}Enum {{{name}}}{{#defaultValue}} = {{classname}}{{nameInCamelCase}}Enum.{{{defaultValue}}}{{/defaultValue}};
        {{/complexType}}
        {{#complexType}}
          {{#required}}{{#nullSafe}}late {{/nullSafe}}{{/required}}{{{dataType}}} {{{name}}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}};
        {{/complexType}}
      {{/isEnum}}
    {{/allowableValues}}
  {{/vendorExtensions.x-dart-inherited}}
{{/vars}}
{{^hasVars}}
  {{#required}}{{#nullSafe}}late {{/nullSafe}}{{/required}}dynamic{{^required}}{{/required}} json;
{{/hasVars}}
{{classname}}({ {{#vars}}{{#required}}{{#nullSafe}}{{^vendorExtensions.x-ns-default-val}}required {{/vendorExtensions.x-ns-default-val}}{{/nullSafe}}{{/required}}{{#vendorExtensions.x-ns-default-val}}{{{dataType}}}{{#nullSafe}}?{{/nullSafe}} {{{name}}}{{/vendorExtensions.x-ns-default-val}}{{^vendorExtensions.x-ns-default-val}}this.{{{name}}}{{/vendorExtensions.x-ns-default-val}},
    {{/vars}} }){{#vendorExtensions.x-has-ns-default-vals}} : {{#vendorExtensions.x-ns-default-vals}}this.{{{name}}} = {{{name}}} ?? []{{^-last}}, {{/-last}}{{/vendorExtensions.x-ns-default-vals}}{{/vendorExtensions.x-has-ns-default-vals}};

  @override
  String toString() {
    return '{{classname}}[{{#vars}}{{{name}}}=${{{name}}}, {{/vars}}{{^hasVars}}json=$json{{/hasVars}}]';
  }

{{^hasVars}}
  {{classname}}.fromJson(dynamic rawValue) {
    this.json = rawValue;
  }

  dynamic toJson() {
    return json;
  }

{{/hasVars}}
{{#hasVars}}
  fromJson(Map<String, dynamic>{{#nullSafe}}?{{/nullSafe}} json) {
    if (json == null) return;
  {{#parent}}super.fromJson(json);{{/parent}}
  {{#nullSafe}}
    {{#vars}}
      {{^vendorExtensions.x-dart-inherited}}
        {{#required}}
          {
          final _jsonData = json[r'{{{baseName}}}'];
          if (_jsonData == null) throw DeserialisationError(json, r'{{{baseName}}}', r'{{{className}}}', '{{{name}}} field is null and is required to have a value');
          {{#isArray}}{{>_complex_from_json_required}}{{/isArray}}{{#isMap}}{{>_complex_from_json_required}}{{/isMap}}{{^items}}{{>_simple_from_json_required}}{{/items}}
          }{{/required}}

        {{^required}}{{#isArray}}{{>_complex_from_json}}{{/isArray}}{{#isMap}}{{>_complex_from_json}}{{/isMap}}{{^items}}{{>_simple_from_json}}{{/items}}{{/required}}
      {{/vendorExtensions.x-dart-inherited}}{{/vars}}
  {{/nullSafe}}
  {{^nullSafe}}
  {{#vars}}
    {{^vendorExtensions.x-dart-inherited}}
    {{#isArray}}{{>_complex_from_json}}{{/isArray}}{{#isMap}}{{>_complex_from_json}}{{/isMap}}{{^items}}{{{name}}} = (json[r'{{{baseName}}}'] == null) ? {{#defaultValue}}{{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}} : {{>_simple_from_json}};{{/items}}
    {{/vendorExtensions.x-dart-inherited}}{{/vars}}
  {{/nullSafe}}
  }

  {{classname}}.fromJson(Map<String, dynamic>{{#nullSafe}}?{{/nullSafe}} json) {
    fromJson(json); // allows child classes to call
  }

  Map<String, dynamic> toJson() {
    final json = <String, dynamic>{};
    {{#vars}}
      {{^vendorExtensions.x-dart-inherited}}
        {{^required}}
{{#vendorExtensions.x-ns-default-val}}
  if ({{{name}}}.isNotEmpty) {
{{/vendorExtensions.x-ns-default-val}}
{{^vendorExtensions.x-ns-default-val}}
  if ({{{name}}} != null) {
{{/vendorExtensions.x-ns-default-val}}
        {{/required}}
      {{#isArray}}
        json[r'{{baseName}}'] = {{{name}}}{{^nullSafe}}?{{/nullSafe}}{{^required}}{{#nullSafe}}{{^vendorExtensions.x-ns-default-val}}?{{/vendorExtensions.x-ns-default-val}}{{/nullSafe}}{{/required}}.map((v) => LocalApiClient.serialize(v)){{^nullSafe}}?{{/nullSafe}}.toList();
      {{/isArray}}
      {{#isMap}}
        json[r'{{baseName}}'] = Map.fromIterables({{{name}}}{{#nullSafe}}!{{/nullSafe}}.keys,
          {{{name}}}{{#nullSafe}}!{{/nullSafe}}.values.map((v) => LocalApiClient.serialize(v)));
      {{/isMap}}
      {{^items}}
        {{#isDateTime}}
          json[r'{{baseName}}'] = {{{name}}}{{^nullSafe}}?{{/nullSafe}}{{^required}}{{#nullSafe}}?{{/nullSafe}}{{/required}}.toUtc().toIso8601String();
        {{/isDateTime}}
        {{#isDate}}
          json[r'{{baseName}}'] = {{{name}}}{{^nullSafe}}?{{/nullSafe}}{{^required}}{{#nullSafe}}?{{/nullSafe}}{{/required}}.toDateString();
        {{/isDate}}
        {{#isEnum}}
          json[r'{{baseName}}'] = {{{name}}}{{^nullSafe}}?{{/nullSafe}}{{^required}}{{#nullSafe}}?{{/nullSafe}}{{/required}}.toJson();
        {{/isEnum}}
        {{#isModel}}
          json[r'{{baseName}}'] = {{{name}}}{{^nullSafe}}?{{/nullSafe}}{{^required}}{{#nullSafe}}?{{/nullSafe}}{{/required}}.toJson();
        {{/isModel}}
        {{#isPrimitiveType}}
          json[r'{{baseName}}'] = {{{name}}};
        {{/isPrimitiveType}}
        {{#isAnyType}}{{^isModel}}
          json[r'{{baseName}}'] = {{{name}}};
        {{/isModel}}{{/isAnyType}}
      {{/items}}
      {{^required}}
    } {{#generateNullValuesToJson}}else {
    json[r'{{baseName}}'] = null;
    }{{/generateNullValuesToJson}}
        {{/required}}
      {{/vendorExtensions.x-dart-inherited}}
    {{/vars}}
    return json;
  }
{{/hasVars}}
  static List<{{classname}}> listFromJson(List<dynamic>{{#nullSafe}}?{{/nullSafe}} json) {
    return json == null ? <{{classname}}>[] : json.map((value) => {{classname}}.fromJson(value)).toList();
  }

  static Map<String, {{classname}}> mapFromJson(Map<String, dynamic>{{#nullSafe}}?{{/nullSafe}} json) {
    final map = <String, {{classname}}>{};
    if (json != null && json.isNotEmpty) {
      json.forEach((String key, dynamic value) => map[key] = {{classname}}.fromJson(value));
    }
    return map;
  }

  @override
  bool operator ==(Object{{#nullSafe}}?{{/nullSafe}} __other) {
    if (identical(this, __other)) {
      return true;
    }

    if (__other is {{classname}} && runtimeType == __other.runtimeType) {
  {{#hasVars}}
    return {{^hasVars}}json?.equals(__other.json);{{/hasVars}}{{#vars}}{{^vendorExtensions.x-dart-inherited}}
    {{#complexType}}
      {{#isArray}}
        const ListEquality().equals({{{name}}}, __other.{{{name}}}){{^-last}} &&
      {{/-last}}
      {{/isArray}}
      {{^isArray}}
        {{#isMap}}
          const MapEquality().equals({{{name}}}, __other.{{{name}}}){{^-last}} &&
        {{/-last}}
        {{/isMap}}
        {{^isMap}}
          this.{{{name}}} == __other.{{{name}}}{{^-last}} && // __other
        {{/-last}}
        {{/isMap}}
      {{/isArray}}
    {{/complexType}}{{^complexType}}
    {{#isArray}}
      const ListEquality().equals({{{name}}}, __other.{{{name}}}){{^-last}} &&
    {{/-last}}
    {{/isArray}}
    {{^isArray}}
      this.{{{name}}} == __other.{{{name}}}{{^-last}} &&
    {{/-last}}
    {{/isArray}}
  {{/complexType}}{{/vendorExtensions.x-dart-inherited}}{{/vars}}
    {{#parent}} &&
    super==__other{{/parent}};{{/hasVars}}{{^hasVars}}
    return {{#parent}}super==__other{{/parent}}{{^parent}}true{{/parent}};{{/hasVars}}
    }

    return false;
  }

  @override
  int get hashCode {
    var hashCode = runtimeType.hashCode;

  {{#hasVars}}
    {{#vars}}{{^vendorExtensions.x-dart-inherited}}
        {{#vendorExtensions.x-ns-default-val}}
          if ({{{name}}}.isNotEmpty) {
        {{/vendorExtensions.x-ns-default-val}}
        {{^vendorExtensions.x-ns-default-val}}
          {{#nullSafe}}
          {{^required}}
          if ({{{name}}} != null) {
          {{/required}}
          {{/nullSafe}}
        {{/vendorExtensions.x-ns-default-val}}
      {{#isArray}}
        hashCode = hashCode * 31 + const ListEquality().hash({{{name}}});
      {{/isArray}}
      {{#isMap}}
        hashCode = hashCode * 31 + MapEquality().hash({{{name}}});
      {{/isMap}}
      {{^items}}
        hashCode = hashCode * 31 + {{{name}}}.hashCode;
      {{/items}}
      {{#vendorExtensions.x-ns-default-val}}
        }
      {{/vendorExtensions.x-ns-default-val}}
      {{^vendorExtensions.x-ns-default-val}}
        {{#nullSafe}}
          {{^required}}
            }
          {{/required}}
        {{/nullSafe}}
      {{/vendorExtensions.x-ns-default-val}}

    {{/vendorExtensions.x-dart-inherited}}{{/vars}}{{/hasVars}}{{^hasVars}}if (json != null) { hashCode = hashCode ^ json.hashCode; }{{/hasVars}}

    return hashCode{{#parent}} ^ super.hashCode{{/parent}};
  }

  {{classname}} copyWith({{#hasVars}}{
     {{#vars}}
         {{{dataType}}}{{#required}}{{#nullSafe}}?{{/nullSafe}}{{/required}}{{^required}}{{#vendorExtensions.x-ns-default-val}}?{{/vendorExtensions.x-ns-default-val}}{{/required}} {{{name}}},
     {{/vars}}
    }{{/hasVars}}) {

  {{#vars}}{{^vendorExtensions.x-dart-inherited}}{{{name}}} ??= this.{{{name}}};
  {{/vendorExtensions.x-dart-inherited}}{{/vars}}
  {{#vars}}
  {{^vendorExtensions.x-dart-inherited}}
  {{#nullSafe}}
  {{#required}}
    {{#isArray}}{{>_complex_copy_required}}{{/isArray}}{{#isMap}}{{>_complex_copy_required}}{{/isMap}}{{^items}}final _copy_{{{name}}} = {{^isModel}}{{{name}}}{{/isModel}}{{#isModel}}{{{name}}}.copyWith(){{/isModel}};{{/items}}
  {{/required}}
  {{^required}}
    {{#vendorExtensions.x-ns-default-val}}
      {{#isArray}}{{>_complex_copy_required}}{{/isArray}}{{#isMap}}{{>_complex_copy_required}}{{/isMap}}{{^items}}final _copy_{{{name}}} = {{^isModel}}{{{name}}}{{/isModel}}{{#isModel}}{{{name}}}.copyWith(){{/isModel}};{{/items}}
    {{/vendorExtensions.x-ns-default-val}}
    {{^vendorExtensions.x-ns-default-val}}
      {{#isArray}}{{>_complex_copy}}{{/isArray}}{{#isMap}}{{>_complex_copy}}{{/isMap}}{{^items}}final _copy_{{{name}}} = {{^isModel}}{{{name}}}{{/isModel}}{{#isModel}}{{{name}}}?.copyWith(){{/isModel}};{{/items}}
    {{/vendorExtensions.x-ns-default-val}}
  {{/required}}
  {{/nullSafe}}
  {{^nullSafe}}
    {{#isArray}}{{>_complex_copy}}{{/isArray}}{{#isMap}}{{>_complex_copy}}{{/isMap}}{{^items}}final _copy_{{{name}}} = {{^isModel}}{{{name}}}{{/isModel}}{{#isModel}}{{{name}}}?.copyWith(){{/isModel}};{{/items}}
  {{/nullSafe}}
  {{/vendorExtensions.x-dart-inherited}}{{/vars}}

    return {{{classname}}}(
      {{#vars}}{{{name}}}: _copy_{{{name}}},{{/vars}});
  }
}

  {{#vars}}
  {{^vendorExtensions.x-dart-inherited}}
    {{^complexType}}
      {{^min}}
        {{#allowableValues}}
           // Inline used enum: {{classname}} {{{name}}}
          enum {{{enumName}}} { {{#enumVars}}{{{name}}}{{^-last}}, {{/-last}}{{/enumVars}} }

          extension {{{enumName}}}Extension on {{{enumName}}} {

            static Map<String, {{{enumName}}}> fromMap = {
            {{#allowableValues}}
              {{#enumVars}}{{{value}}}:{{{enumName}}}.{{{name}}}{{^-last}}, {{/-last}}{{/enumVars}}
            {{/allowableValues}} };
            static Map<{{{enumName}}}, String> toMap = {
            {{#allowableValues}}
              {{#enumVars}}{{{enumName}}}.{{{name}}}:{{{value}}}{{^-last}}, {{/-last}}{{/enumVars}}
            {{/allowableValues}} };

            String{{#nullSafe}}?{{/nullSafe}} toJson() => toMap[this];
            static {{{enumName}}}{{#nullSafe}}?{{/nullSafe}} fromJson(String key) => {{^nullSafe}}key == null ? null : {{/nullSafe}}fromMap[key];

            static List<{{{enumName}}}> listFromJson(List<dynamic>{{#nullSafe}}?{{/nullSafe}} json) =>
              json == null ? <{{{enumName}}}>[] : json.map((value) => fromJson(value)).toList(){{#nullSafe}}.fromNull(){{/nullSafe}};

            static {{{enumName}}} copyWith({{{enumName}}} instance) => instance;
          }
        {{/allowableValues}}
      {{/min}}
    {{/complexType}}
  {{/vendorExtensions.x-dart-inherited}}
{{/vars}}
