// {{{name}}}
class {{{classname}}}{{#parent}} extends {{parent}}{{/parent}} {
{{#vars}}
  {{^vendorExtensions.x-dart-inherited}}
    {{#description}}/* {{{description}}} */{{/description}}
    {{^allowableValues}}
      {{{dataType}}} {{{name}}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}};
    {{/allowableValues}}
    {{#allowableValues}}
      {{#isEnum}}
        {{{dataType}}} {{{name}}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}};
      {{/isEnum}}
      {{^isEnum}}
        {{^complexType}}
          {{#min}} // range from {{min}} to {{max}}
          {{{dataType}}} {{{name}}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}};
          {{/min}}
          {{{classname}}}{{nameInCamelCase}}Enum {{{name}}}{{#defaultValue}} = {{{classname}}}{{nameInCamelCase}}Enum.{{{defaultValue}}}{{/defaultValue}};
        {{/complexType}}
        {{#complexType}}
          {{{dataType}}} {{{name}}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}};
        {{/complexType}}
      {{/isEnum}}
    {{/allowableValues}}
  {{/vendorExtensions.x-dart-inherited}}
{{/vars}}
{{^hasVars}}{{^parent}}
  {{^vendorExtensions.x-dart-nullable}}{{#nullSafe}}late {{/nullSafe}}{{/vendorExtensions.x-dart-nullable}}dynamic json;
{{/parent}}{{/hasVars}}
{{{classname}}}(
{{#hasVars}}{
  {{#vars}}
    {{#nullSafe}}{{#vendorExtensions.x-dart-required}}required {{/vendorExtensions.x-dart-required}}{{/nullSafe}}
    {{#vendorExtensions.x-dart-inherited}}{{{dataType}}} {{/vendorExtensions.x-dart-inherited}}{{^vendorExtensions.x-dart-inherited}}this.{{/vendorExtensions.x-dart-inherited}}{{{name}}}{{^vendorExtensions.x-dart-required}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{/vendorExtensions.x-dart-required}}{{^-last}}, {{/-last}}
    {{/vars}} }{{/hasVars}}
)
{{#parent}} : super({{#vars}}{{#vendorExtensions.x-dart-inherited}}{{name}}: {{name}},{{/vendorExtensions.x-dart-inherited}}{{/vars}}) {{/parent}}
;

  @override
  String toString() {
    return '{{{classname}}}[{{#vars}}{{{name}}}=${{{name}}}, {{/vars}}{{^hasVars}}json=$json{{/hasVars}}]';
  }

{{^hasVars}}
  {{{classname}}}.fromJson(dynamic rawValue) {
    this.json = rawValue;
  }

  dynamic toJson() {
    return json;
  }

{{/hasVars}}

{{#hasVars}}
  {{#vars}}
    {{^vendorExtensions.x-dart-inherited}}
    static {{{dataType}}} fromJson_{{name}}(Map<String, dynamic> json) {
  {{#nullSafe}}
      {{^vendorExtensions.x-var-is-binary}}
          {{^vendorExtensions.x-dart-nullable}}
            final _jsonData = json[r'{{{baseName}}}'];
            if (_jsonData == null) {
              {{#required}}
              {{> _deserialisation_error }}
              {{/required}}
              {{^required}}
                {{#defaultValue}} return {{{defaultValue}}};{{/defaultValue}}
                {{^defaultValue}}{{> _deserialisation_error }}{{/defaultValue}}
              {{/required}}
            }
            {{#isArray}}{{>_complex_from_json_required}}{{/isArray}}
            {{#isMap}}{{>_complex_from_json_required}}{{/isMap}}
            {{^items}}{{>_simple_from_json_required}}{{/items}}
          {{/vendorExtensions.x-dart-nullable}}

          {{#vendorExtensions.x-dart-nullable}}
            {{#required}}
              // required but nullable, has to be passed
              if (!json.containsKey(r'{{{baseName}}}')) { {{> _deserialisation_error }}  }
            {{/required}}
            {{#isArray}}{{>_complex_from_json}}{{/isArray}}
            {{#isMap}}{{>_complex_from_json}}{{/isMap}}
            {{^items}}{{>_simple_from_json}}{{/items}}{{/vendorExtensions.x-dart-nullable}}
        {{/vendorExtensions.x-var-is-binary}}
  {{/nullSafe}}
  {{^nullSafe}}
      {{^vendorExtensions.x-var-is-binary}}
        {{#isArray}}{{>_complex_from_json}}{{/isArray}}{{#isMap}}{{>_complex_from_json}}{{/isMap}}{{^items}}{{>_simple_from_json}}{{/items}}
      {{/vendorExtensions.x-var-is-binary}}
  {{/nullSafe}}
    {{#vendorExtensions.x-var-is-binary}}
      {{^vendorExtensions.x-dart-nullable}}
      return {{#isArray}}const []{{/isArray}}{{#isMap}}const {}{{/isMap}}{{^isArray}}{{^isMap}}MultipartFile.fromBytes([]){{/isMap}}{{/isArray}};
      {{/vendorExtensions.x-dart-nullable}}
      {{#vendorExtensions.x-dart-nullable}}return null;{{/vendorExtensions.x-dart-nullable}}
  {{/vendorExtensions.x-var-is-binary}}
  }
  {{/vendorExtensions.x-dart-inherited}}
  {{/vars}}

  {{{classname}}}.fromJson(Map<String, dynamic> json) :
    {{#vendorExtensions.x-dart-ownVars}}
      this.{{{name}}} = fromJson_{{name}}(json){{^-last}}, {{/-last}}
    {{/vendorExtensions.x-dart-ownVars}}{{#parent}}{{#vendorExtensions.x-dart-hasOwnVars}}, {{/vendorExtensions.x-dart-hasOwnVars}}super.fromJson(json){{/parent}};

  Map<String, dynamic> toJson() {
    {{> _class_to_json }}
  }
{{/hasVars}}
  static List<{{{classname}}}> listFromJson(List<dynamic>{{#nullSafe}}?{{/nullSafe}} json) {
    return json == null ? <{{{classname}}}>[] : json.map((value) => {{{classname}}}.fromJson(value)).toList();
  }

  static Map<String, {{{classname}}}> mapFromJson(Map<String, dynamic>{{#nullSafe}}?{{/nullSafe}} json) {
    final map = <String, {{{classname}}}>{};
    if (json != null && json.isNotEmpty) {
      json.forEach((String key, dynamic value) => map[key] = {{{classname}}}.fromJson(value));
    }
    return map;
  }

  @override
  bool operator ==(Object{{#nullSafe}}?{{/nullSafe}} __other) {
    if (identical(this, __other)) {
      return true;
    }

    if (__other is {{{classname}}} && runtimeType == __other.runtimeType) {

  {{#hasVars}}return {{#vendorExtensions.x-dart-ownVars}}
    {{#complexType}}
      {{#isArray}}
        const ListEquality().equals({{{name}}}, __other.{{{name}}}){{^-last}} &&
      {{/-last}}
      {{/isArray}}
      {{^isArray}}
        {{#isMap}}
          const MapEquality().equals({{{name}}}, __other.{{{name}}}){{^-last}} &&
        {{/-last}}
        {{/isMap}}
        {{^isMap}}
          {{{name}}} == __other.{{{name}}}{{^-last}} && // __other
        {{/-last}}
        {{/isMap}}
      {{/isArray}}
    {{/complexType}}{{^complexType}}
    {{#isArray}}
      const ListEquality().equals({{{name}}}, __other.{{{name}}}){{^-last}} &&
    {{/-last}}
    {{/isArray}}
    {{^isArray}}
     {{{name}}} == __other.{{{name}}}{{^-last}} &&
    {{/-last}}
    {{/isArray}}
  {{/complexType}}{{/vendorExtensions.x-dart-ownVars}}
    {{#parent}} {{#vendorExtensions.x-dart-hasOwnVars}}&&{{/vendorExtensions.x-dart-hasOwnVars}}
    super==__other{{/parent}};{{/hasVars}}{{^hasVars}}
    return {{#parent}}super==__other{{/parent}}{{^parent}}json?.equals(__other.json){{/parent}};{{/hasVars}}
    }

    return false;
  }

  @override
  int get hashCode {
    var hashCode = {{#parent}}super.hashCode{{/parent}}{{^parent}}runtimeType.hashCode{{/parent}};

  {{#hasVars}}
    {{#vars}}{{^vendorExtensions.x-dart-inherited}}
        {{#vendorExtensions.x-ns-default-val}}
          if ({{{name}}}{{#vendorExtensions.x-dart-nullable}}{{#nullSafe}}?{{/nullSafe}}{{/vendorExtensions.x-dart-nullable}}.isNotEmpty{{#vendorExtensions.x-dart-nullable}}{{#nullSafe}} == true{{/nullSafe}}{{/vendorExtensions.x-dart-nullable}}) {
        {{/vendorExtensions.x-ns-default-val}}
        {{^vendorExtensions.x-ns-default-val}}
          {{#nullSafe}}
          {{#vendorExtensions.x-dart-nullable}}
          if ({{{name}}} != null) {
          {{/vendorExtensions.x-dart-nullable}}
          {{/nullSafe}}
        {{/vendorExtensions.x-ns-default-val}}
      {{#isArray}}
        hashCode = hashCode * 31 + const ListEquality().hash({{{name}}});
      {{/isArray}}
      {{#isMap}}
        hashCode = hashCode * 31 + MapEquality().hash({{{name}}});
      {{/isMap}}
      {{^items}}
        hashCode = hashCode * 31 + {{{name}}}.hashCode;
      {{/items}}
      {{#vendorExtensions.x-ns-default-val}}
        }
      {{/vendorExtensions.x-ns-default-val}}
      {{^vendorExtensions.x-ns-default-val}}
        {{#nullSafe}}
          {{#vendorExtensions.x-dart-nullable}}
            }
          {{/vendorExtensions.x-dart-nullable}}
        {{/nullSafe}}
      {{/vendorExtensions.x-ns-default-val}}

    {{/vendorExtensions.x-dart-inherited}}{{/vars}}{{/hasVars}}{{^hasVars}}{{^parent}}if (json != null) { hashCode = hashCode ^ json.hashCode; }{{/parent}}{{/hasVars}}

    return hashCode;
  }

  {{^disableCopyWith}}
    {{{classname}}} copyWith({{#hasVars}}{
     {{#vars}}
       {{{dataType}}}{{^vendorExtensions.x-simpledynamic}}{{^vendorExtensions.x-dart-nullable}}{{#nullSafe}}?{{/nullSafe}}{{/vendorExtensions.x-dart-nullable}}{{/vendorExtensions.x-simpledynamic}} {{{name}}},
     {{/vars}}
    }{{/hasVars}}) {

  {{#vars}}
    final _copy_{{{name}}} = {{{name}}} ??
    {{#nullSafe}}
  {{^vendorExtensions.x-dart-nullable}}
    {{#isArray}}{{>_complex_copy_required}}{{/isArray}}{{#isMap}}{{>_complex_copy_required}}{{/isMap}}{{^items}}{{^isModel}}this.{{{name}}}{{/isModel}}{{#isModel}}this.{{{name}}}.copyWith(){{/isModel}};{{/items}}
  {{/vendorExtensions.x-dart-nullable}}
  {{#vendorExtensions.x-dart-nullable}}
    {{#vendorExtensions.x-ns-default-val}}
      {{#isArray}}{{>_complex_copy_required}}{{/isArray}}{{#isMap}}{{>_complex_copy_required}}{{/isMap}}{{^items}}{{^isModel}}this.{{{name}}}{{/isModel}}{{#isModel}}this.{{{name}}}.copyWith(){{/isModel}};{{/items}}
    {{/vendorExtensions.x-ns-default-val}}
    {{^vendorExtensions.x-ns-default-val}}
      {{#isArray}}{{>_complex_copy}}{{/isArray}}{{#isMap}}{{>_complex_copy}}{{/isMap}}{{^items}}{{^isModel}}this.{{{name}}}{{/isModel}}{{#isModel}}this.{{{name}}}?.copyWith(){{/isModel}};{{/items}}
    {{/vendorExtensions.x-ns-default-val}}
  {{/vendorExtensions.x-dart-nullable}}
  {{/nullSafe}}
  {{^nullSafe}}
    {{#isArray}}{{>_complex_copy}}{{/isArray}}{{#isMap}}{{>_complex_copy}}{{/isMap}}{{^items}}{{^isModel}}this.{{{name}}}{{/isModel}}{{#isModel}}this.{{{name}}}?.copyWith(){{/isModel}};{{/items}}
  {{/nullSafe}}

  {{/vars}}

    return {{{classname}}}(
      {{#vars}}{{{name}}}: _copy_{{{name}}},{{/vars}});
  }
  {{/disableCopyWith}}
}

  {{#vars}}
  {{^vendorExtensions.x-dart-inherited}}
    {{^complexType}}
      {{^min}}
        {{#allowableValues}}
           // Inline used enum: {{{classname}}} {{{name}}}
          enum {{{enumName}}} { {{#enumVars}}{{{name}}}{{^-last}}, {{/-last}}{{/enumVars}} }

          extension {{{enumName}}}Extension on {{{enumName}}} {

            static Map<String, {{{enumName}}}> fromMap = {
            {{#allowableValues}}
              {{#enumVars}}{{{value}}}:{{{enumName}}}.{{{name}}}{{^-last}}, {{/-last}}{{/enumVars}}
            {{/allowableValues}} };
            static Map<{{{enumName}}}, String> toMap = {
            {{#allowableValues}}
              {{#enumVars}}{{{enumName}}}.{{{name}}}:{{{value}}}{{^-last}}, {{/-last}}{{/enumVars}}
            {{/allowableValues}} };

            String{{#nullSafe}}?{{/nullSafe}} toJson() => toMap[this];
            static {{{enumName}}}{{#nullSafe}}?{{/nullSafe}} fromJson(String key) => {{^nullSafe}}key == null ? null : {{/nullSafe}}fromMap[key];

            static List<{{{enumName}}}> listFromJson(List<dynamic>{{#nullSafe}}?{{/nullSafe}} json) =>
              json == null ? <{{{enumName}}}>[] : json.map((value) => fromJson(value)).toList(){{#nullSafe}}.fromNull(){{/nullSafe}};

            static {{{enumName}}} copyWith({{{enumName}}} instance) => instance;
          }
        {{/allowableValues}}
      {{/min}}
    {{/complexType}}
  {{/vendorExtensions.x-dart-inherited}}
{{/vars}}
