{{#isArray}}
  {{#items}}
    {{>list-copy-with}}
  {{/items}}
  {{^items}}
    {{>list-copy-with}}
  {{/items}}
{{/isArray}}
{{#isMap}}
  {{#isPrimitiveType}}
    v == null ? null : {}..addAll(v)
  {{/isPrimitiveType}}
  {{^isPrimitiveType}}
    {{#isContainer}}
     function(v{{#nullSafe}}?{{/nullSafe}}) {
      var newVal;
      final fld = v;
      {{#items}}
        {{#enumName}}
          newVal = v == null ? null : {}..addAll(v);
        {{/enumName}}
        {{^enumName}}
          newVal = v?.map((k, v) => MapEntry(k,{{^items}}{{>copy-with}}{{/items}}{{#items}}{{>copy-with}}{{/items}})); // e1
        {{/enumName}}
      {{/items}}
    {{/isContainer}}
    {{^isContainer}}
      newVal = v?.map((k, v) => MapEntry(k, {{^items}}{{>copy-with}}{{/items}}{{#items}}{{>copy-with}}{{/items}}));  // e2
    {{/isContainer}}
    return newVal;
    }(v)
  {{/isPrimitiveType}}
{{/isMap}}
{{^isContainer}}
  {{#isModel}}
    v?.copyWith()
  {{/isModel}}
  {{^isModel}}
    v
  {{/isModel}}
{{/isContainer}}

