{{^isModel}}
  []..addAll((v ?? []))
{{/isModel}}
{{#isModel}}
  {{#enumName}}
    []..addAll((v ?? []))
  {{/enumName}}
  {{^enumName}}
    {{#isDateTime}}
      []..addAll((v ?? []))
    {{/isDateTime}}
    {{^isDateTime}}
      {{#isDate}}
        []..addAll((v ?? []))
      {{/isDate}}
      {{^isDate}}
        []..addAll((v ?? []).map((y) => y.copyWith()).toList())
      {{/isDate}}
    {{/isDateTime}}
  {{/enumName}}
{{/isModel}}
