name: {{pubName}}
version: {{pubVersion}}
description: {{pubDescription}}
environment:
  sdk: '>=2.7.0 <3.0.0'
dependencies:
  dio: '>=3.0.3 <4.0.0'
#  openapi_dart_common: ^3.0.1
  openapi_dart_common:
    path: /Users/richard/projects/dart/openapi_dart_common
  {{#x-dart-deps}}
  {{{.}}}
  {{/x-dart-deps}}
collection: ^1.14.11
dev_dependencies:
  test: ^1.3.0
{{#x-dart-devdeps}}
  {{{.}}}
{{/x-dart-devdeps}}
