name: {{pubName}}
version: {{pubVersion}}
description: {{pubDescription}}
{{#pubRepository}}
repository: {{{.}}}
{{/pubRepository}}
{{#pubHomepage}}
homepage: {{{.}}}
{{/pubHomepage}}
environment:
  sdk: '>=2.15.0 <3.1.0'
dependencies:
{{#localDev}}
  openapi_dart_common:
    path: {{{localDev}}}
{{/localDev}}
{{^localDev}}
  dio: '^5.0.1'
  openapi_dart_common: ^5.0.0
{{/localDev}}
  collection: '^1.16.0'
  {{#x-dart-deps}}
  {{{.}}}
  {{/x-dart-deps}}
dev_dependencies:
  test: ^1.23.1
  flutter_lints: ^2.0.1
{{#x-dart-devdeps}}
  {{{.}}}
{{/x-dart-devdeps}}
# bought to you by the folks from FeatureHub https://featurehub.io
